/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

body {
  background-image: url("WhatsApp\ Image\ 2026-09-05\ at\ 17.37.51.jpeg");
}

h1, h2 {
  color: black;
  background-color: beige;
}
