/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

body {
  background-image: url("IMG_AADCC440930D-1.jpeg");
}

h1 {
  color: black;
  background-color: beige;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
