/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-family: "indieflower";
  src: url(../type/IndieFlower-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme:light dark;

  --background: light-dark(skyblue, midnightblue);
  --color: light-dark(black, white);
  --buttonbackground: light-dark(midnightblue, skyblue);
  --buttoncolor: light-dark(skyblue, midnightblue);
  --buttontekst: light-dark(white, black);
}

body {
  font-family: "indieflower", system-ui;
  background-color: var(--background);
  color: var(--color);
}

h1 {
  color: var(--color);
  text-align: center;
  font-size: 50px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  order: -1;
}

nav ul {
  display: flex;
  gap: 10px;
  padding: 0;
  list-style: none;
}

nav li a {
  display: block;
  padding: 10px 16px;
  background-color: var(--buttonbackground);
  color: var(--buttontekst);
  text-decoration: none;
  border: 2px solid var(--buttonbackground);
  border-radius: 10px;
  font-size: 20px;
}

nav li a:hover,
nav li a[aria-current="page"] {
  background-color: var(--background);
  color: var(--color);
}
